* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", monospace;
}

html {
    font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
}

body {
    background-color: #d9d9d9;
}

h1 {
    font-family: "Cookie";
    color: #928d82;
    text-align: center;
    font-size: 5rem;
    margin: 0.5em 0 0;
}

h2 {
    color: rgba(146, 141, 130, 0.767);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 1em 2em;
}

.white {
    background-color: white;
    border-color: #d4d4d4;
    color: #d4d4d4;
}

.green {
    background-color: #c9ffce;
    border-color: rgb(110, 110, 110);
    color: rgb(110, 110, 110);
}

.red {
    background-color: #ffc9c9;
    border-color: rgb(110, 110, 110);
    color: rgb(110, 110, 110);
}

#tweetbox {
    width: 75vw;
    height: 50vw;
    border-radius: 1rem;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 0.75rem;
    position: relative;
    transition: all 500ms;
}

#profile {
    height: 3.5rem;
    margin: 0 0.75rem 0.5rem;
}

.pfp {
    width: 3.5rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 100%;
    display: inline;
    float: left;
}

.label {
    position: absolute;
    right: 0;
    rotate: 25deg;
    width: 6rem;
    bottom: 11rem;
    animation: zoomOut 0.2s;
}

.username {
    font-size: 0.75rem;
    font-weight: 700;
    padding-top: 0.6rem;
    padding-left: 4rem;
    color: black;
}

.tag {
    font-size: 0.6rem;
    color: #a1a1a1;
    font-weight: 700;
    padding-left: 4rem;
}

#tweet {
    margin-top: 0.5rem;
    margin: 0 0.75rem;
    color: black;
}

#interactions {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    border-top: 1px solid;
    border-color: inherit;
    color: inherit;
    font-weight: 700;
}

button {
    background-color: white;
    border: none;
    border-radius: 1rem;
    width: 8.5rem;
    height: 3.6rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 200ms;
    font-size: 2rem;
    color: white;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#buttons {
    display: flex;
    justify-content: space-around;
    width: 18.75rem;
    margin: 1rem auto;
}

#real {
    background: linear-gradient(135deg, #00d1ff 0%, #00a3ff 100%);
}

#ai {
    background: linear-gradient(135deg, #65e772 0%, #00990f 100%);
}

.final {
    color: #928d82;
    font-size: 1.5rem;
}

.final:nth-of-type(1) {
    margin-top: 4rem;
}

.twitter-share-button {
    display: block;
    max-width: fit-content;
    background-color: #00a3ff;
    border-radius: 16rem;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 0.75rem;
    margin: 0 auto;
}

@media (min-width: 500px) {
    main {
        margin: 1rem 0;
    }
}

@media (min-width: 400px) {
    #tweetbox {
        width: 21rem;
        height: 14rem;
    }
}

@media (max-width: 300px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 270px) {
    html {
        font-size: 9px;
    }
}

@media (max-height: 400px) {
    html {
        font-size: clamp(0.625rem, 4vh, 1rem);
    }
}

@keyframes zoomOut {
    0% {
        width: 6.4rem;
    }

    100% {
        width: 6rem;
    }
}
